@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #EEE2DE;
    color: #2B2A4C;
}

.header {
    font-size: 3rem;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#gameBoard {
    background-color: #2B2A4C;
    margin-top: 5vh;
    display: grid;
    height: 50vh;
    width: 50vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vh;
}

#gameHeader {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    font-size: 2rem;
    text-align: center;
}

#activePlayer {
    margin: 0 2rem 0 2rem;
    display: flex;
}

#gameContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#leftPlayerContainer {
    color: #B31312;
}

#rightPlayer,
#leftPlayer {
    font-size: 1.5rem;
}

#rightPlayerScore,
#leftPlayerScore {
    font-size: 1rem;
    text-align: center;
}

#leftPlayerTitle,
#rightPlayerTitle {
    display: flex;
}

.square {
    background-color: #EEE2DE;
    font-size: 6rem;
    text-align: center;
}

.hover {
    background-color: #E5F3FD;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    border: .25rem solid;
    font-size: 2rem;
    background-color: #EEE2DE;
    color: #2B2A4C;
    width: 60%;

    margin-top: 20px;

    border-radius: 10px;

    padding: 8px 40px;
    cursor: pointer;
}

button:hover {
    background-color: #E5F3FD;
}